body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	position: relative;
	background-color: white;
}

a:link, a:visited {
	text-decoration: none;
	color: #b4afab;
}

#stamp {
	float: left;
	height: 70px;
	cursor: pointer;
}

#navbar {
	position: fixed;
	width: 100%;
	z-index: 10;
	color: #b4afab;
	font-weight: 400;
}

#nav-caption-container {
	float: right;
	width: 480px;
	height: 60px;
}

.nav-caption {
	float: left;
	font-size: 17px;
	top: 20px;
	margin-left: 60px;
	font-weight: 400;
    cursor: pointer;
	position: relative;
}
.nav-caption:hover {
	background-color: #c0d5b4;
}
#login {
    background-color: #6da977;
    border-radius: 4px;
    padding: 0px 15px;
    height: 40px;
    margin-top: -10px;
    line-height: 2.5;
    margin-left: 35px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

#menu {
	width: 100%;
	height: 100px;
	position: relative;
	top: 90px;
}

.separator {
	background-color: #b6b2af;
	width: 80%;
	height: 2px;
	margin: auto;
}

#bottom {
    margin-top: 50px;
}
ul {
	width: 80%;
	list-style: none;
	left: calc(50% - 520px);
	position: absolute;
	margin: 0;
}
ul li {
	color: #d9d8d4;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	padding: 17px 33px;
}

ul li:hover {
	color: #a09c99;
	cursor: pointer;
	transition: all 0.3s;
}

ul li ul {
	background-color: #afc3c1;
	display: none; 
	margin: 0;
	width: 100px;
	height: 64px;
	padding: 0;
	position: absolute;
	top: 51px;
	left: 13px;
	opacity: 0;    
	visibility: hidden; 
	z-index: 0;
/*	-webkit-transiton: opacity 0.4s;    
	-moz-transition: opacity 0.4s;    
	-ms-transition: opacity 0.4s;    
	-o-transition: opacity 0.4s;    
	-transition: opacity 0.4s;*/
}
ul li ul li {
	color: white;
	text-transform: uppercase;
	padding-top: 4px;
	text-align: center;
	line-height: 0.4;
	position: relative;
	top: 10px;
	cursor: pointer;
	display: block; 
	left: -10px;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s;
}

#GM {
    position: relative;
    top: 46px;
    left: calc(50% - 505px);
    width: 80%;
}

#date-container {
    display: inline-block;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    color: white;
}

#GM-container {
    display: inline-block;
    font-size: 22px;
    margin-left: calc(26% - 415px);
}

.date {
    padding: 25px;
    margin: 45px 0;
    background: #e0d9d5;
}

#fall-date-container .date {
    background: #c0d5b4;
}

.GM {
    padding: 25px 30px 25px 30px;
    margin: 45px 0;
    position: relative;
    left: 140;
}

.GM:hover {
	background: #afc3c1;
	cursor: pointer;
	transition: all .3s;
}

#modal-container, #modal-container-2 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

#modal-overlay, #modal-overlay-2 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#modal-box, #modal-box-2 {
    width: 500px;
    height: 260px;
    background-color: #b4afab;
    position: absolute;
    z-index: 100;
    top: calc(50% - 130px);
    left: calc(50% - 250px);
/*    position: ;*/
}

#header-stamp {
    width: 50;
    position: absolute;
    top: 13px;
    left: 20;
}
#header {
    color: rgb(92, 92, 92);
    padding-top: 15px;
    padding-left: 15px;
    font-size: 25;
    font-weight: 100;
    margin-left: 65px;
}

#modal-content-2 {
	color: white;
	font-size: 20px;
	text-align: center;
	top: calc(50% - 65px);
	position: relative;
}
#footer {
    margin-left: 285px;
    position: relative;
}
#footer-2 {
    left: 370;
    position: relative;
    top: 120px;
}

.footer:hover {
	opacity: 0.7;
	transition: 0.3s;
}
.footer {
    cursor: pointer;
    background-color: white;
    width: 90px;
    height: 30px;
    color: #6da977;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin-right: 8px;
    border-radius: 5px;
}

#modal-container-2 .footer {
	width: 100px;
}

.input {
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin-bottom: 20px;
    width: 460px;
    font-weight: 700;
    color: white;
    display: inherit;
    position: relative;
    left: calc(50% - 230px);
}
.input::-webkit-input-placeholder  {
    color: white;
}
#modal-content {
    position: relative;
    top: calc(50% - 115px);
    color: white;
}

#nm {
    margin-left: 25;
    color: white;
    position: relative;
    top: 15px;
    cursor: pointer;
}

